<%- include("header") -%>

<!-- search bar and filter -->
<div class="search-bar-and-filter">
    <div class="search-bar">
        <i class="fas fa-search"></i>
        <input type="text" id="search" placeholder="Search for a country...">
    </div>
    <div class="filter">
        <label for="dropdown" class="filter__dropdown_face">
            <div class="dropdown__text">Filter by Region</div>
            <i class="fas fa-angle-down"></i>
        </label>
        

    </div>

</div>
<!-- country list -->
<div class="country-list">
    

</div>

<%- include("footer") -%>