<%- include("header") -%>

<!-- search bar and filter -->
<div class="search-bar-and-filter">
    <div class="search-bar">
        <i class="fas fa-search"></i>
        <input type="text" id="search" placeholder="Search for a country...">
    </div>
    <div class="filter">

    </div>

</div>
<!-- country list -->
<div class="country-list">
    

</div>

<%- include("footer") -%>