<!-- search bar and filter -->
<form class="item" action="/filter" method="post">
    <div class="search-bar-and-filter">
        <div class="search-bar">
            <input type="text" name="countryName" value="<%=searchCountryName%>" autocomplete="off"
                placeholder="Search for a country...">
            <button type="submit" name="region" value=""><i class="fas fa-search"></i></button>

        </div>
        <div class="filter">
            <div class="filter__dropdown_face">
                <div class="dropdown__text">Filter by Region</div>
                <i class="fas fa-angle-down"></i>
            </div>
            <div class="dropdown__items">
                <button type="submit" name="region" value="Africa">Africa</button>
                <button type="submit" name="region" value="Americas">Americas</button>
                <button type="submit" name="region" value="Asia">Asia</button>
                <button type="submit" name="region" value="Europe">Europe</button>
                <button type="submit" name="region" value="Oceania">Oceania</button>
            </div>
        </div>
    </div>
</form>