*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  /* colors */

  --clr-bg:hsl(0, 0%, 98%);
  --clr-element: hsl(0, 0%, 100%);
  --clr-text: hsl(200, 15%, 8%);
  --clr-input: hsl(0, 0%, 52%);
  --clr-theme-toggle-icon:transparent;

  --pd-standard: 3rem;
  --pd-medium: 1.5rem;
  --pd-small: 1rem;



  /* dark mode elements */
  --clr-dark-blue-dark-mode: hsl(209, 23%, 22%);
  /* dark mode background */
  --clr-very-dark-blue-dark-mode: hsl(207, 26%, 17%);
  /* light mode text */
  --clr-very-dark-blue-light-mode: hsl(200, 15%, 8%);
  /* light mode input */
  --clr-dark-grey-light-mode: hsl(0, 0%, 52%);
  /* light mode background */
  --clr-very-light-grey-light-mode: hsl(0, 0%, 98%);
  /* Dark Mode Text & Light Mode Elements */
  --clr-white: hsl(0, 0%, 100%);

  /* typography */

  --fs-homepage-items: 14px;
  --fs-detail-page: 16px;

  /* font */

  --ff-primary: "Nunito Sans", sans-serif;

  --fw-light: 300;
  --fw-medium: 600;
  --fw-bold: 800;

  /* box shadow */
  
  --bs:0 0 3px rgba(0, 0, 0, 0.19);
  --bs-card:0 0 3px hsl(0, 0%, 85%);
  --bs-flag-underline:0 1px 1px hsl(0, 0%, 85%);
}

[data-theme="dark"] {

  --clr-bg:hsl(207, 26%, 17%);
  --clr-element: hsl(209, 23%, 22%);
  --clr-text: hsl(0, 0%, 100%);
  --clr-input: hsl(0, 0%, 100%);
  --clr-theme-toggle-icon: hsl(0, 0%, 100%);

  --bs: 0 0px 3px rgba(0, 0, 0, 0.19), 0 3px 3px rgba(0, 0, 0, 0.23);
  --bs-card:0 0 3px rgba(0, 0, 0, 0.19);
  --bs-flag-underline:0 1px 1px rgba(0, 0, 0, 0.19);

}

body {
  margin: 0;
  /* margin-bottom: 50px; */
  min-height: 100vh;
  font-family: var(--ff-primary);
  color: var(--clr-text);
  background-color: var(--clr-bg);
  font-size: var(--fs-homepage-items);
  display: flex;
  flex-direction: column;
}

h2 {
  margin: 0;
  font-weight: var(--fw-medium);
}

/* head-bar */

.head-bar-title {
  text-decoration: none;
  background-color: var(--clr-element);
  border: none;
  color: var(--clr-text);
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  
}

.head-bar >form >button {
  background-color: var(--clr-element);
  border: none;
  color: var(--clr-text);
  cursor: pointer;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.head-bar {
  background-color: var(--clr-element);
  margin-top: 0;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: var(--pd-small);
  padding-right: var(--pd-small);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  box-shadow: var(--bs);
}

@media (min-width: 900px) {
  .head-bar {
    padding-left: var(--pd-standard);
    padding-right: var(--pd-standard);
  }
}
.stand-with-ukraine {
  font-size: var(--fs-homepage-items);
  margin-bottom: 0;
  margin-top: 0.5em;
  text-decoration: none;
  background-color: var(--clr-element);
  border: none;
  color: var(--clr-text);
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  
}

.stand-with-ukraine:hover {
  text-decoration: underline;
  cursor: pointer;
  font-weight: var(--fw-bold);
}

.head-bar__theme-toggle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.head-bar__theme-toggle > input {
  display: none;
}
.head-bar__theme-toggle > i {
  padding-right: 1em;
  color: var(--clr-theme-toggle-icon);
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: var(--clr-text);
}

/* search bar and filter */
/* .search-wrapper {
  display: flex;
  flex-direction: column;
} */

.search-bar-and-filter {
  padding-left: var(--pd-small);
  padding-right: var(--pd-small);
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

@media(min-width:900px) {
  .search-bar-and-filter {
    padding-left: var(--pd-standard);
    padding-right: var(--pd-standard);
  }
}
.search-wrapper, .search-bar {
  width: 100%;
}

.search-bar {
  display: flex;
  flex-direction: row-reverse;
  justify-content: left;
  align-items: center;
  position: relative;
  background-color: var(--clr-element);
  padding-top: 1.25em;
  padding-bottom: 1.25em;
  padding-left: 2em;
  border-radius: 5px;
  box-shadow: var(--bs);
}

.search-bar > button {
  background-color: var(--clr-element);
  border: none;
  color: var(--clr-text);
}

.search-bar > input {
  background-color: var(--clr-element);
  width: 25rem;
  border: none;
  outline: none;
  font-size: var(--fs-homepage-items);
  padding-left: 1em;
  color: var(--clr-text);
}

.search-bar > input::placeholder {
  color: var(--clr-input);
  font-size: var(--fs-homepage-items);
}

.match-list {
  
  border-radius: 5px;
  background-color: var(--clr-element);
  
  position: absolute;
  
  width: 28rem;
  max-width: calc(100% - 6rem);
  z-index: 50;
  box-shadow: var(--bs);
  padding-left: calc(var(--pd-standard) + 1rem);
  margin-top: .5em;
}
@media (min-width: 900px) {
  .match-list {
    padding-left: calc(var(--pd-standard) + 1rem);;
  }
}

.match-list > button {
  background-color: var(--clr-element);
  border: none;
  color: var(--clr-text);
  font-size: var(--fs-homepage-items);
  padding-bottom: 0.5em;
  padding-top: 0.5em;
  padding-left: .5em;
  width: 100%;
  cursor: pointer;
  position: relative;
  text-align: left;
  border-radius: 5px;
}

.suggestion:hover {
  text-decoration: underline;
  cursor: pointer;
  font-weight: var(--fw-bold);
  
}

/* filter */

.filter {
  border-radius: 5px;
  /* box-shadow: var(--bs); */
  margin-top: 2rem;
}

.filter__dropdown_face {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: var(--fs-homepage-items);
  padding-right: 1.5em;
  padding-left: 1.5em;
  padding-top: 1.25em;
  padding-bottom: 1.25em;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 0.5em;
  background-color: var(--clr-element);
  width: 12.719rem;
  border: 1px;
  box-shadow: var(--bs);
}

.filter__dropdown_face > i {
  padding-left: 4em;
}

.dropdown__items {
  display: none;
  border-radius: 5px;
  background-color: var(--clr-element);
  padding-bottom: 1em;
  position: absolute;
  width: 12.719rem;
  z-index: 50;
  box-shadow: var(--bs);
}

.dropdown__items > button {
  background-color: var(--clr-element);
  border: none;
  color: var(--clr-text);
  font-size: var(--fs-homepage-items);
  padding-top: 1em;
  padding-left: 1.5em;
  width: 100%;
  cursor: pointer;
  position: relative;
  text-align: left;
}

.filter:hover .dropdown__items {
  display: block;
}

.dropdown__items > button:hover {
  font-weight: var(--fw-bold);
  text-decoration: underline;
}

.not-found {
  margin-left: var(--pd-small);
  flex: 1;
}
@media (min-width: 900px) {
  .not-found {
    margin-left: var(--pd-standard);
  }
}

/* country card */
.container {
  padding-left: var(--pd-small);
  padding-right: var(--pd-small);
  padding-bottom: 3rem;
  margin: 0;
  flex: 1;

  display: grid;
  grid-template-columns: repeat(auto-fill, 100%);
  /* grid-gap: 3%; */
  justify-content: space-between;
}



.country {
  border-radius: 5px;
  background-color: var(--clr-element);
  margin-bottom: 3rem;
  box-shadow: var(--bs-card);
  /* box-shadow: var(--bs); */
}
.country > button {
  border: none;
  background-color: var(--clr-element);
}
.country__flag {
  /* background-color: red; */
  width: 100%;
  padding-top: 56.25%;
  position: relative;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: var(--bs-flag-underline);
  
}

.country__flag__img {
  border-radius: 5px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.country__info {
  padding: 1.5em;
  font-size: var(--fs-homepage-items);
}

.country__info__p {
  margin:.5em 0;
}


@media (min-width: 600px) {
  .container {
    grid-template-columns: repeat(auto-fill, 47%);
    padding-left: 1rem;
    padding-right: 1rem
  }

  .search-bar-and-filter {
    padding-left: 1rem;
    padding-right: 1rem;
  }


  
}

@media (min-width: 900px) {
  .country__info__p {
    margin: 1em 0;
  }
  .container {
    grid-template-columns: repeat(auto-fill, 30%);
    padding-left: var(--pd-standard);
    padding-right: var(--pd-standard);
  }

  .search-bar-and-filter {
    display: flex;
    flex-direction: row;
    padding-left: var(--pd-standard);
    padding-right: var(--pd-standard);
  }

  .filter {
    margin-top: 0;
  }

  .search-bar {
    width: 28rem;
    max-width: calc(100% - 6rem);
  }

  
  
  
}

@media (min-width: 1440px ) {
  .container {
    grid-template-columns: repeat(auto-fill, 22%);
  }

  .search-bar-and-filter {
    display: flex;
    flex-direction: row;
  }

  .filter {
    margin-top: 0;
  }

}


footer {
  text-align: center;
  color: var(--clr-text);

  height: 50px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
}
footer > a {
  text-decoration: none;
  color: var(--clr-text);
}

footer > a:hover {
  text-decoration: underline;
}

/* detail page */
.detail-page {
  margin: var(--pd-medium);
  flex: 1;
}
@media (min-width: 900px) {
  .detail-page {
    margin: var(--pd-standard);
  }
}
.detail-content {
    
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    

}
@media (min-width: 900px) {
  .detail-content {
    flex-direction: row;
  }

}

.detail-content__flag {
    width: 100% ;
    
  
  position: relative;
  border-radius: 5px;
  
  
}
@media (min-width: 900px) {
  .detail-content__flag {
    width: 40%;
    margin-right: 10%;
    
  }
}

.detail-content__flag__img {
  width: 100%;
  box-shadow: var(--bs-card);
}

.back-button {
    border: none;
    background-color: var(--clr-element) ;
    color: var(--clr-text);
    box-shadow: var(--bs);
    padding-top: .75em;
    padding-bottom: .75em;
    padding-left: 2.5em;
    padding-right: 2.5em;
    border-radius: 5px;
    margin-bottom: 3rem;
    margin-top: 2rem;
    cursor: pointer;
}

.detail-content__info {
    width: 100%;
    margin-top: 1.5rem;
}

@media (min-width: 900px){
  .detail-content__info {
    width: 50%;
}
}

.detail-conent__info__country{
    margin-bottom: 1.5rem;
}
@media (min-width: 900px){
  .detail-conent__info__country{
    margin-bottom: 3rem;
}
}

.detail-conent__info__country__attribute{
    display: flex;
    flex-direction: column;
}

@media (min-width: 900px) {
  .detail-conent__info__country__attribute{
    display: flex;
    flex-direction: row;
}
}
.detail-conent__info__country__attribute__left {
    margin-bottom: 2rem;

}
@media (min-width:900px){
  .detail-conent__info__country__attribute__left {
    margin-right: var(--pd-small);

}
}

@media (min-width: 900px){
  .detail-conent__info__country__attribute__left{
    margin-right: var(--pd-standard)
  }
}
.detail-conent__info__border {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.detail-conent__info__border__items {
  /* display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fill, 24%);

 
  justify-content: space-between;
  row-gap: 1rem; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}
@media (min-width: 900px) {
  .detail-conent__info__border {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}
.detail-conent__info__border__title{
  margin-right: 1rem;
}
.detail-conent__info__border__items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}
.border-item {
  display: flex;
  justify-content: center;
  align-items: center;
}
}

.border-button {
    border: none;
    background-color: var(--clr-element) ;
    color: var(--clr-text);
    box-shadow: var(--bs);
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    /* padding-top: var(--pd-small);
    padding-bottom: var(--pd-small);
    padding-left: var(--pd-standard);
    padding-right: var(--pd-standard); */
    border-radius: 5px;
    cursor: pointer;
    margin-right: 1em;
    margin-bottom: 1em;
    margin-top: 1rem;
}



@media (min-width: 900px) {
  .border-button {
    border: none;
    background-color: var(--clr-element) ;
    color: var(--clr-text);
    box-shadow: var(--bs);
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border-radius: 5px;
    cursor: pointer;
    /* margin-left: 1em;
    margin-right: 0.5em; */
    /* margin-right: 1em; */
}

/* .border-item + .border-item {
  margin-left: 1em;
} */
}